{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Selecteer uw keuzes om te reserveren</h1>
<form  method="POST">
    {{ form.hidden_tag() }}
    {{ form.naam.label }} {{form.naam}}
    <br>
    {{ form.week.label}} {{form.week}}
    <br>
    {{ form.reserveer() }}
</form>
<a class="nav-item nav-link" href="{{ url_for('bungalows.lijst') }}">Terug naar bungalows</a>
{% endblock %}